header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #FFFFFF;
}
body{
    margin: 0;
}
#youcode{
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 21px;
line-height: 120%;
letter-spacing: 0%;
width: 120;
height: 25;
padding: 11px 52px;
}
.onglet {
    display: flex;
    gap: 20px;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 15px;
line-height: 120%;
letter-spacing: 0%;
}
#accueil{
    color: #034BFF;
    text-decoration: underline;
}
.onglet a{
    text-decoration: none;
}
.onglet a:hover{
    background-color: rgb(159, 169, 172);
    text-decoration: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color:#0A1222;
}
.recherche a{
     font-family: Inter, sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 120%;
letter-spacing: 0%;
text-decoration: none;
}
.recherche a:hover{
    text-decoration: none;
    background-color: rgb(159, 169, 172);
}
.recherche button{
 background-color: blue;
 color: white;
 border:none;
 padding: 5px 40px;
 border-radius: 10px;
}
.recherche button:hover{
    background-color: rgb(59, 59, 255);
}
.premier{
display:flex;
justify-content: space-between;
background-color: #08111D;
margin:0;
}
#life{
    display: inline;
    padding: 0 20px;
}
.campus{
   font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 76px;
line-height: 120%;
letter-spacing: 0%;
padding: 100px 20px 0px 50px;
color:  #FFFFFF;
margin: 0;
}
.life1{
    font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 88px;
line-height: 120%;
letter-spacing: 0%;
color: #034BFF;
}
.egal{
    font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 66px;
line-height: 120%;
letter-spacing: 0%;
color: #C7F64A;
}
.sec{
  padding: 0px 20px 0px 50px; 
}
.etudiant{
    padding: 0px 20px 0px 50px;
    color: #FFFFFF;
font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;
line-height: 120%;
letter-spacing: 0%;
margin: 0;
}
.text{
     padding: 0px 20px 0px 50px;
     color: #FFFFFF;
     font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
}
#decouvrir{
    background-color: blue;
 color: white;
 border:none;
 padding: 25px 40px;
 border-radius: 10px;
 margin-left:50px ;
 display:inline-block;
}
#decouvrir:hover{
    background-color: rgb(59, 59, 255);
}
#evenment{
 background-color: black;
 color:white ;
 padding: 25px 40px;
 border-radius: 10px;
 margin-left: 15px;
 display: inline-block;
}
#evenment:hover{
     background-color: rgb(141, 141, 191);
}
.section2{
    background-color: #08111D;
    margin:0;

}
.icon{
    display: inline-block;
    margin-left: 50px;
    padding-top: 35px;
    padding-bottom: 50px;
}
.icon > span{
    color: #FFFFFF;
    padding: 10px;
    border: 0;
    border-radius: 50%;
}
.appre{
    display: inline-block;
    color: #FFFFFF;
    padding-top: 30px;
    margin-left: 15px;
}
#A{
    background-color:#B8C9CF;
}
#S{
    background-color: #D7C3B6;
}
#Y{
    background-color:#B8C9CF ;
}
#M{
    background-color:#D7C3B6 ;
}

#pre{
    display: inline-block;
}
.pree{
    display: inline-block;
}
#section2{
    display: flex;
    justify-content: space-between;
    margin:0 50px;
}
#num{
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;
line-height: 120%;
letter-spacing: 0%;
}
#mot{
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 11px;
line-height: 120%;
letter-spacing: 0%;

}
.fase{
    display: inline;
    padding-top: 30px;
}
#sepa{
 font-size: 30px;
}