nav>a{
    color: #034BFF;
}
main{
    background: #030303;
}
header{
    background-color: aliceblue;
}
#sec{
    display: inline;
    color:  #C7F64A;
       font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 76px;
line-height: 120%;
letter-spacing: 0%;
}
#first{
    display: inline;
    color:#034BFF;
    font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 76px;
line-height: 120%;
letter-spacing: 0%;

}
div{
    height: ;
    color:#FFFFFF;
    font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 76px;
line-height: 120%;
letter-spacing: 0%;

}
#text{
    display: block;
    color: #FFFFFF;
  font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;
line-height: 120%;
letter-spacing: 0%;


}
#text1{
    display: block;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
max-width: 398px;
}
img{
    display: inline-block;
    width: 589;
height: 461;
left: 435px;
border-radius: 10px;
opacity: 1;

}
nav, nav > button{
    display: inline-block;
}
