header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #FFFFFF;
}
body{
    margin: 0;
}
#youcode{
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 21px;
line-height: 120%;
letter-spacing: 0%;
width: 120;
height: 25;
padding: 11px 52px;
}
.onglet {
    display: flex;
    gap: 20px;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 15px;
line-height: 120%;
letter-spacing: 0%;
}
#accueil{
    color: #034BFF;
    text-decoration: underline;
}
.onglet a{
    text-decoration: none;
}
.onglet a:hover{
    background-color: rgb(159, 169, 172);
    text-decoration: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color:#0A1222;
}
.recherche a{
     font-family: Inter, sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 120%;
letter-spacing: 0%;
text-decoration: none;
}
.recherche a:hover{
    text-decoration: none;
    background-color: rgb(159, 169, 172);
}
.recherche button{
 background-color: blue;
 color: white;
 border:none;
 padding: 5px 40px;
 border-radius: 10px;
}
.recherche button:hover{
    background-color: rgb(59, 59, 255);
}
.premier{
display:flex;
justify-content: space-between;
background-color: #08111D;
margin:0;
}
#life{
    display: inline;
    padding: 0 20px;
}
.campus{
   font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 76px;
line-height: 120%;
letter-spacing: 0%;
padding: 100px 20px 0px 50px;
color:  #FFFFFF;
margin: 0;
}
.life1{
    font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 88px;
line-height: 120%;
letter-spacing: 0%;
color: #034BFF;
}
.egal{
    font-family: Inter, sans-serif;
font-weight: 900;
font-style: Black;
font-size: 66px;
line-height: 120%;
letter-spacing: 0%;
color: #C7F64A;
}
.sec{
  padding: 0px 20px 0px 50px; 
}
.etudiant{
    padding: 0px 20px 0px 50px;
    color: #FFFFFF;
font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;
line-height: 120%;
letter-spacing: 0%;
margin: 0;
}
.text{
     padding: 0px 20px 0px 50px;
     color: #FFFFFF;
     font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
}
#decouvrir{
    background-color: blue;
 color: white;
 border:none;
 padding: 25px 40px;
 border-radius: 10px;
 margin-left:50px ;
 display:inline-block;
}
#decouvrir:hover{
    background-color: rgb(59, 59, 255);
}
#evenment{
 background-color: black;
 color:white ;
 padding: 25px 40px;
 border-radius: 10px;
 margin-left: 15px;
 display: inline-block;
}
#evenment:hover{
     background-color: rgb(141, 141, 191);
}
.section2{
    background-color: #08111D;
    margin:0;

}
.icon{
    display: inline-block;
    margin-left: 50px;
    padding-top: 35px;
    padding-bottom: 50px;
}
.icon > span{
    color: #FFFFFF;
    padding: 10px;
    border: 0;
    border-radius: 50%;
}
.appre{
    display: inline-block;
    color: #FFFFFF;
    padding-top: 30px;
    margin-left: 15px;
}
#A{
    background-color:#B8C9CF;
}
#S{
    background-color: #D7C3B6;
}
#Y{
    background-color:#B8C9CF ;
}
#M{
    background-color:#D7C3B6 ;
}

#pre{
    display: inline-block;
}
.pree{
    display: inline-block;
}
#section2{
    display: flex;
    justify-content: space-between;
    margin:0 50px;
}
#num{
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;
line-height: 120%;
letter-spacing: 0%;
}
#mot{
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 11px;
line-height: 120%;
letter-spacing: 0%;

}
.fase{
    display: inline;
    padding-top: 30px;
}
#sepa{
 font-size: 30px;
}
#section3{
    margin-left:50px ;
}
.nn{
 font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;
color:#034BFF;
}
.mm{
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 33px;
line-height: 120%;
letter-spacing: 0%;
}
.bb{
  font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
}
#secti3{
    display: inline-block;
}
.images3{
    margin-left: 200px;
}
#img1{
    display: inline-block;
}
#tet{
   font-family: Inter, sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;
color: #FFFFFF;
background-color: #08111D;
border: 0;
border-radius: 23px;
}
#explor{
    background-color: blue;
 color: white;
 border:none;
 padding: 25px 40px;
 border-radius: 10px;
 margin-left:5px ;
}
#explor:hover{
    background-color: rgb(118, 118, 208);
}
#section4{
    background-color: #0A1222;
    padding-left: 30px;
}
#titre-section4{
    color: #FFFFFF;
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 33px;
line-height: 120%;
letter-spacing: 0%;
padding-top: 50px;

}
#titre5-section4{
    color: #FFFFFF;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
}
#objet-num1{
    padding-top: 10px;
}
#icon-1-svg{
    background-color: #034BFF;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    margin-left: 50px;
}
.NUM1{
    color: #FFFFFF;
    margin-left: 70px;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;

}
.day1{
    color: #FFFFFF;
    margin-left: 50px;
    padding-top: 15px;
    font-family: Inter, sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 120%;
letter-spacing: 0%;
}
#note{
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;

}
.point{
    color: #FFFFFF;
    margin-bottom: 160px;
    align-items: center;
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 10px;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 11px;
line-height: 120%;
letter-spacing: 0%;
display: inline-block;
}
#sec{
    display: inline-block;
}
#icon-3-svg{
     background-color: #04B886;

    height: 50px;
    width: 50px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    margin-left: 50px;
}
#icon-4-svg{
     background-color: #6744FF;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    margin-left: 50px;
}
#icon-6-svg{
     background-color: #C7F64A;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    margin-left: 50px;
}
#sec5{
    margin: 25px;
   width: 305px;
height: 230px;
opacity: 1;
top: 15px;
left: 16px;
border:0;
border-radius: 7px;
padding-left: 10px;
padding-top: 20px;
background-color: #034BFF;
display: inline-block;
}
#h1{
    color: #FFFFFF;
    font-family: Inter, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;
}
#h2{
    font-family: Inter, sans-serif;
font-weight: 800;
font-style: Extra Bold;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;
color: #FFFFFF;
}
#h3{
    font-family: Inter, sans-serif;
    color: #FFFFFF;
font-weight: 400;
font-style: Regular;
font-size: 12px;
line-height: 120%;
letter-spacing: 0%;
}
#bouton{
    border: none;
    width: 191px;
height: 32px;
opacity: 1;
top: 178px;
left: 47px;
border-radius: 5px;
color: #034BFF;
background-color: #FFFFFF;
}
#bouton:hover{
    background-color: #6380c7;
}